[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
fastapi = "*"
async-exit-stack = "*"
async-generator = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"],version = "*"}
python-multipart = "*"

[requires]
python_version = "3.7"
